body {
	font-family: 'Roboto Condensed', sans-serif;
}
.container {
	width: 1600px;
	margin: 0 auto;
}
.main-header {
	height: 912px;
	background: url(../img/main_header_bg.jpg);
	position: relative;

}
.main-header-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: url(../img/h1_bg.png) no-repeat right 10px top;
	padding-top: 29px;
	
}
.main-header-text h1 {
	color: white;
	font-size: 95.67px;
}
.main-header-text h1 strong {
	font-weight: bold;
}
.main-header-text .features {
	font-size: 42.14px;
	color: #ffd630;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 122px;
	text-align: center;
}
.main-header-text .features strong {
	font-weight: bold;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.main-header-text .features strong:nth-child(1) {
	background-image: url(../img/features_1_bg.png);
}
.main-header-text .features strong:nth-child(2) {
	background-image: url(../img/features_2_bg.png);
}
.main-header-text .features strong:nth-child(3) {
	background-image: url(../img/features_3_bg.png);
}
/*---------------------------------------------------------*/
.main-header-text .explanation {
	font-size: 30.62px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	margin-top: 72px;
}
.main-header-text .explanation span {
	display: block;
	line-height: 42px;
}
.main-header-text .explanation span strong {
	font-weight: 700;
	color: #ffd630;
}
/*-------------------------Number Check--------------------------------*/
.number-check {
    height: 143px;
    background: url(../img/number_check_bg.png);
    position: relative;
}
.number-check-content{
    width: 920px;
    color:#75489b;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    float: left;
    position: absolute;
}
.number-check-text p {
    font-size: 24px;
    font-weight: 700;
}
.number-check-input {
    width: 390px;
}


/*-------------------------Number Check--------------------------------*/
.contest-description {
    height: 594px;
    background: url(../img/contest_description_bg.png)
    
}
.contest-description-text {
    font-size: 23.26px;
    color: #fff;
    position: relative;
    left: 705px;
    top: 50%;
    transform: translateY(-50%);
    width: 553px;
}

.contest-description-text ol {
    list-style-position: inside;
    list-style-type: decimal;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
}
.contest-description-text ol a {
	color: #ffd630;
	text-decoration: none;
	position: relative;
}
.contest-description-text ol a:after {
	content:'';
	position: absolute;
	width: 100%;
	height:5px;
	background: url(../img/link_underline_bg.png) center no-repeat;
	bottom: -7px;
	left: 0;
	z-index: 999;
	background-size: cover;
}
.contest-description-text strong {
    font-weight: 700;
    color: #ffd630;
}
/*-------------------------Wt--------------------------------*/
.gallery-main {
    height: 577px;
    background: #fff;
}
.gallery-main-image {
    width: 923px;
    height: 528px;
    background: url(../img/gallery_image.png);
    margin: 0 auto;
    margin-top: 39px;
}
.number-registration {
    height: 595px;
    position: relative;
    background: url(../img/register_number_bg.png);
}
.number-registration-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1015px;
}
.number-registration-info h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 63px;
}
.number-registration-info ul {
    display: flex;
    justify-content: space-around;
}
.number-registration-info li {
    width: 260px;
}
.number-registration-info li:first-child p {
    padding: 0 20px;
}
.number-registration-info li:nth-child(2) p {
    padding: 0 40px;
}
.number-registration-info li:last-child p {
    padding: 0 15px;
}
.number-registration-info img {
    display: block;
    position: relative;
    left: 0;
    right:0;
    margin: auto;
}
.number-registration-info p {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    margin-top: 17px;
}
.number-registration-info strong {
    font-weight: 700;
}
/*-------------------------śr--------------------------------*/
.main-footer {
    height: 86px;
    background: #fff;
    position: relative;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    color: #7338bb;
    line-height: 24.27px;
}
.main-footer a {
    text-decoration: none;
    color: #7338bb;
    float: left;
}
.main-footer-text {
    width: 1015px;
    line-height: 80px;
    margin: 0 auto;
}
.main-footer-text p{
    float: left;
}
.main-footer-text ul {
    float: right;
}
.main-footer-text ul li {
    float: left;
}
.main-footer-text ul li {
    float: left;  
}
.main-footer-text ul li:before {
    content: "|";
    padding: 0 10px;
}
.main-footer-text ul li:last-child:before {
    display: none;
}
/*-------------------------button--------------------------------*/

.learn-more {
    text-decoration: none;
    border: 1px solid #fff;
    line-height: 65px;
    width: 275px;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    position: relative;
    top: 55px;
}